@font-face {
    font-family: 'GreenHill';
    src: url("../font/GreenHillSans-Regular v1.01.ttf");
}
:root {
    --main-color: #0d1b2a;
    --second-color: #1b263b;
}
.header {
    background-color: var(--second-color);
    padding-top:0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background-color: var(--second-color);
    font-family: Bahnschrift;
    font-weight: bold;
    margin: 0;
    width: 100%;
    height: 100%;

}
html {
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1980px;
    padding: 0 15px;
}
.header__inner {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: white;
    font-family:GreenHill;
    font-size: 17px;
    margin-left: 15px;
}
.menu_list {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 500px;
    height: 20px;
}
.menu_list-item {
    margin: 0;
}
.menu_list-option {
 position: relative;
 color: white;
 text-decoration: none;
 cursor: pointer;
 margin-right: 15px;
}
.hr1 {
    background-color: var(--main-color);
    border: none;
    height: 3px;
    margin: 0;
    width: 100%;
}
.sidebar {
    background-color: var(--main-color);
    float: left;
    width: 250px;
    height: 730px;
    overflow: auto;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    background-color: var(--second-color);
    margin-left:270px;
    margin-top: 20px;
}
.sidebar_text {
    margin-top: 25px;
    margin-left: 30px;
    color:white;
    width: 70px;
    display: flex;

}
.index_hi {
    color:white;
    margin-top:5px;
    margin-bottom: 0px;

}
.index_statistic {
    color:white;
    margin-bottom: 0px;
    margin-top: 0px;
}
.index_decor {
    display: flex;
}
.index_info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.index_info-text {
    margin-top: 15px;
    margin-bottom: 5px;
    color: white;
}
.sidebar_adm {
    color: white;
    justify-content: space-between;
    margin-bottom: 30px;
    text-decoration: none;
    flex-direction: column;
    list-style: none;
    margin-left:0px;
}
.sidebar_adm1 {
    position: absolute;
    margin-top: -50px;
}

.index_hr {
    background-color: #ffffff;
    border: none;
    height: 1px;
    width: 80%;
    margin-left: 0;
}
.wrapper {
    width: 100%;
    max-width:190px;
}
.search-box{
    height: 23px;
    position: relative;
    /* max-width: 380px; */
    max-width: 30px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    font-family: Bahnschrift;

}
#check {
    display: none;
}
#check:checked ~ .search-box{
    max-width: 380px;
    transition: 0.9s ease-in-out;
}
.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 10px;
    color: var(--main-color);
    font-family: Bahnschrift;
}
.search-box .btn {
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    line-height:25px;
    color:var(--main-color);

}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}
.search_button {
    display: none;
}